<div class="container">
	<h1 style="text-align:center;">DANH BẠ ĐIỆN THOẠI APIs</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="card h-100">
				<h4 class="card-header">La Quốc Thắng</h4>
				<a href="https://facebook.com/quocthang0507" target="_blank">
					<img class="avatar" src="~/Images/thanglq.jpg" alt="thanglq" />
				</a>
				<div class="card-body">
					<p class="card-text">Xây dựng API cho Danh bạ điện thoại</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card h-100">
				<h4 class="card-header">Phạm Trung Anh Vũ</h4>
				<a href="https://facebook.com/anhvupt98" target="_blank">
					<img class="avatar" src="~/Images/vupta.jpg" alt="vupta" />
				</a>
				<div class="card-body">
					<p class="card-text">Xây dựng Danh bạ cho Mobile</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card h-100">
				<h4 class="card-header">Tống Sỹ Quân</h4>
				<a href="https://facebook.com/tongsyquan" target="_blank">
					<img class="avatar" src="~/Images/quants.jpg" alt="quants" />
				</a>
				<div class="card-body">
					<p class="card-text">Xây dựng Danh bạ cho WinForms</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card h-100">
				<h4 class="card-header">Cao Thị Việt Trinh</h4>
				<a href="https://facebook.com/viettrinh.nhobeo" target="_blank">
					<img class="avatar" src="~/Images/trinhctv.jpg" alt="trinhctv" />
				</a>
				<div class="card-body">
					<p class="card-text">Xây dựng Danh bạ cho website</p>
				</div>
			</div>
		</div>
	</div>
</div>
